<html>
	<head>
		<title> Test Titre </title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</head>

	<body>
		<header>
			<nav class="nav">
		<ul>
			<li><a href = "/">Home</a></li>
			<li><a href = "/team"> Team </a></li>
			<li><a href = "/contact"> Contact </a></li>
		</ul>
	</nav>
		<header>

		<section>
		<h1>Bienvenu <%= @user.first_name %> sur The Gossip Project !!</h1>
		<p>Voici la liste des potins : </p>
     		<% @gossip.each do |gossip| %>
           Gossip n°: <%= gossip.id%>
                L'auteur: <%= gossip.author %><br/>
                Le contenu :<%= gossip.content %><br/>
                <a href="/gossip/<%= gossip.id %>" class="card-link">Lien ici</a>
      			<% end %>
      	</p>
		</section>

	</body>
</html>